{% extends 'user/base.html' %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<div class="min-h-screen flex justify-center items-center bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Admin Login</h2>

        <form method="post">
            {% csrf_token %}
            <input 
                type="text" 
                name="username" 
                placeholder="Admin Username" 
                class="w-full p-3 border rounded mb-4"
            >

            <input 
                type="password" 
                name="password" 
                placeholder="Password" 
                class="w-full p-3 border rounded mb-4"
            >

            <button 
                type="submit" 
                class="w-full bg-black text-white p-3 rounded"
            >
                Login
            </button>
        </form>
    </div>
</div>
{% endblock %}
